{
	local_certs
}

*.devops.outside.localhost {
	@storybook host storybook.devops.outside.localhost
	handle @storybook {
		reverse_proxy 127.0.0.1:6006
	}

	@client host client.devops.outside.localhost
	handle @client {
		reverse_proxy 127.0.0.1:5173
	}

	# Fallback or general matchers here if necessary
	handle {
		respond "Service not found or not running" 404
	}
}
